@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 4.79% 80.75%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

@layer components {
  .container-style {
    @apply bg-gradient flex h-auto min-h-[160px] flex-col justify-between gap-2 rounded-2xl p-4 shadow-widget;
  }

  .title {
    @apply flex items-center gap-1 font-semibold text-muted-foreground;
  }

  .bg-gradient {
    @apply bg-gradient-to-br from-zinc-950/25 via-gray-950/20 to-slate-950/15;
  }

  .progress-bar {
    @apply bg-progress-bar;
  }
}

/* Dialog component */
.dialog .bg-popover {
  @apply bg-transparent;
}

/* Tooltip component */
div[data-radix-popper-content-wrapper] {
  @apply z-10 !important;
}

/* Command component */
.city-option {
  @apply py-[6px] !important;
}

.command-group {
  @apply p-1 !important;
}

/* Preloader component */
.preloader path {
  stroke-width: 0.25;
}

#sun path {
  stroke: #ffd700;
  fill: #ffa500;
}

/* Weather Themes */
.sunny-day {
  @apply bg-sunny-day;
}

.clear-night {
  @apply bg-clear-night;
}

.cloudy-day {
  @apply bg-cloudy-day;
}

.cloudy-night {
  @apply bg-cloudy-night;
}

.foggy-day {
  @apply bg-foggy-day;
}

.foggy-night {
  @apply bg-foggy-night;
}

.rainy-day,
.light-rain-day {
  @apply bg-rainy-day;
}

.light-rain-night,
.rainy-night {
  @apply bg-rainy-night;
}

.sleet,
.snowy-day {
  @apply bg-snowy-day;
}

.snowy-night {
  @apply bg-snowy-night;
}

.thunder {
  @apply bg-thunder;
}

.default-theme {
  @apply bg-default-theme;
}

.day-overlay,
.night-overlay {
  @apply absolute inset-0;
}

.day-overlay {
  @apply bg-day-overlay;
}

.night-overlay {
  @apply bg-night-overlay bg-[length:100%,200px_200px,100%_100%];
}
