@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 4.79% 80.75%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

@layer components {
  .container-style {
    @apply bg-gradient flex h-auto min-h-[160px] flex-col justify-between gap-2 rounded-2xl p-4 shadow-widget md:h-[175px];
  }

  .title {
    @apply flex items-center gap-1 font-semibold text-muted-foreground;
  }

  .bg-gradient {
    @apply bg-gradient-to-br from-zinc-950/25 via-gray-950/20 to-slate-950/15;
  }

  .animate-gradient-blur {
    background-size: 200% 200%;
  }
}

.progress-bar {
  background-image: linear-gradient(
    to right,
    rgba(58, 110, 180, 1) 0%,
    #5ba8ee 20%,
    #7ed457 40%,
    #f8d449 60%,
    #eb4d60 80%,
    rgba(178, 34, 34, 1) 100%
  );
}

/* Dialog component */
.dialog .bg-popover {
  background-color: transparent;
}

/* Tooltip component */
div[data-radix-popper-content-wrapper] {
  z-index: 10 !important;
}

/* Command component */
.city-option {
  padding-block: 6px !important;
}

.command-group {
  padding: 4px !important;
}

/* Preloader component */
.preloader path {
  stroke-width: 0.25;
}

#sun path {
  stroke: #ffd700;
  fill: #ffa500;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}

/* Weather Themes */
.sunny-day,
.cloudy-day {
  background-image: linear-gradient(
    135deg,
    #1a73e8 0%,
    #051c72 50%,
    #1a73e8 100%
  );
}

.clear-night,
.cloudy-night {
  background-image: linear-gradient(
    135deg,
    #1a2d59 0%,
    #102040 50%,
    #1a2d59 100%
  );
}

.foggy-day {
  background-image: linear-gradient(to top left, #4b5359, #343a3f);
}

.foggy-night {
  background-image: linear-gradient(to top left, #2f3a46, #2b404d);
}

.rainy-day,
.light-rain-day {
  background-image: linear-gradient(to top left, #4c6f96, #2d506f);
}

.light-rain-night,
.rainy-night {
  background-image: linear-gradient(to top left, #22364f, #16263b);
}

.sleet,
.snow-day,
.snow-night {
  background-image: linear-gradient(to top left, #72b2cc, #668a9b);
}

.snow-night {
  background-image: linear-gradient(
    135deg,
    #4b6584 0%,
    #5f7d9c 50%,
    #7899b8 100%
  );
}

.thunder {
  background-image: linear-gradient(
    135deg,
    #34495e 0%,
    #4a5c70 50%,
    #5f7888 100%
  );
}

.default-theme {
  background-image: linear-gradient(
    135deg,
    #3730a3 0%,
    #4338ca 50%,
    #5145e4 100%
  );
}

.day-overlay {
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 70%
  );
  position: absolute;
  inset: 0;
}

.night-overlay {
  background: radial-gradient(
    ellipse at top left,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  position: absolute;
  inset: 0;
  @media screen and (max-width: 768px) {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }
}
